body{
	font-family: century gothic;
	background-color: black;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%;
    -o-background-size: 100%; 
    background-size: 100%

}
h1, h2, h3 {
	color: white;
}
a {
	text-decoration: none;
	color: white;
	transition: 1s;
}
a:hover {
	color: grey;
}
p {
	color: grey;
	font-size: 20px;
}
.header-navigation {
	color: white;
	background-color: #241d1de2;
	text-align: center;
	font-size: 30px;
}

}
.header-navigation ul {
	list-style-type: none;
	color: white;
}
.header-navigation li {
	display: inline;
	padding: 50px;
}

.basics {
color: white;
text-align: center;
}
.basics h2 {
	font-size: 40px;
}
.basics p {
	color: grey;
	font-size: 25px;
}
.box {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.box-image {
	transition: 1s;
}
.box-image:hover {
	filter:blur(2px);
}
.box hr {
	border: none; 
    background-color: grey; 
    color: grey; 
    height: 2px;
}
